.Header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 11px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    justify-content: space-between;
    z-index: 1;
    position: relative;

    &__logo {
        display: flex;
        align-items: center;

        img {
            width: 30px;
            margin-right: 5px;
        }

        h3 {
            margin-bottom: 0;
        }
    }

    &__logout {
        cursor: pointer;

        &:hover {
            color: #0292FF;
        }
    }
}
