.Page {
    font-weight: bold;

    &__wrapper {
        display: flex;
    }

    &__content {
        width: 85vw;
        min-height: calc(100vh - 54px);
        background-color: #e7e7e7;
        padding: 10px;

        &_isAuthorized {
            background-color: #fff;
            width: 100vw;
            min-height: 100vh;
            padding: 0;
        }
    }
}
