.LawyerPaymentsPage {
    &__content {
        width: 100%;
        min-height: calc(100vh - 230px);
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
