.Sidebar {
    z-index: 1;
    width: 15vw;
    min-height: calc(100vh - 54px);
    box-shadow: 0 2px 4px rgba(0,0,0,.3), -23px 0 20px -23px rgba(0,0,0,.8), 23px 0 20px -23px rgba(0,0,0,.8), inset 0 0 40px rgba(0,0,0,.1);
    display: flex;
    align-items: center;

    &__menu {
        width: 100%;
    }
}
