.SearchForm {
    background: #fff;
    margin-bottom: 10px;

    &__search {
        margin-top: 24px;
    }

    &__select {
        margin-bottom: 24px;
        width: 90%;
    
        &_right {
            margin-left: auto;
            display: block;
        }

        &_isDecisionSearch {
            margin-top: 24px;
            width: 100%;
        }
    }

    &__datepicker {
        width: 100%;
    }

    &__searchBtn {
        margin-top: 24px;
    }
}
