.NotFoundPage {
    display: flex;
    width: 100%;
    height: calc(100vh - 74px);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        width: 100px;
        margin-bottom: 24px;
    }
}
