.RouteLink {
    &:hover {
        text-decoration: underline;
    }

    &__theme {
        &_link {
            color: #40a9ff;
        }

        &_black {
            color: #000000;
        }

        &_unstyled {
            display: flex;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
