.AuthAuthForm {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #f0f0f0;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 100px;
        }
    }

    &__submit {
        margin-bottom: 24px;
    }
}
