.HomePage {
    &__content {
        height: calc(100vh - 230px);
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
}
